@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@300;400;500;600;700;800;900&display=swap');

* {
    scroll-behavior: smooth !important;
}

.font-anton {
    font-family: 'Anton', sans-serif;
}

.bg-100 {
    background-size: 100% 100%;
}

.filtur-blur {
    filter: blur(100px);
}

.loader .span1 {
    color: white;
    font-family: 'anton';
    font-weight: 900;
    animation: blur 3s linear infinite;
    line-height: 50px;
    transition: all 0.5s;
    letter-spacing: 0.2em;
}

.loader .span2 {
    color: #51d613;
    font-family: 'anton';
    font-weight: 900;
    animation: blur 3s linear infinite;
    line-height: 50px;
    transition: all 0.5s;
    letter-spacing: 0.2em;
}

.bg-luxury {
    background-image: url("./assets/images/luxurybg-img.webp");
}

@keyframes blur {

    0%,
    90% {
        filter: blur(0);
    }

    50% {
        filter: blur(10px);
    }
}

@media (max-width: 768px) {
    .div {
        width: 500px;
        /* Adjust width for smaller screens */
        left: 10%;
    }
}

@media (min-width:460px) {
    .max-w-387 {
        max-width: 387px !important;
    }
}

@media (min-width:420px) {
    .max-w-330 {
        max-width: 238px;
    }
}

@media (max-width:1140px) {
    .max-w-lg-mx-3 {
        margin-left: 12px !important;
        margin-right: 12px !important;
    }
}